#div_left {
  width: 30%;
  height: auto;
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  padding: 1%;
}
#div_right {
  width: 30%;
  height: auto;
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  padding: 1%;
}
#image {
  max-width: auto;
  max-height: 400px;
  margin: 5% auto 5% auto;
}
#div_main {
  width: 50%;
  height: auto;
  margin: auto;
  background-color: #c48b81;
  display: flex;
  flex-direction: row;
}
h3 {
  font-family: 'futura PT';
  font-size: 25px;
}
p,
ul {
  font-family: 'futura PT';
  font-size: 15px;
}
.stars .span {
  color: #696060;
}
.stars .filled {
  color: #ffdb0f;
}
span:hover {
  cursor: pointer;
}
